{% extends "Base.html" %}
{% block content %}

<!-------------------------------------schoolinfo------------------------------------>

<div class="container" style="padding: 2% 8%;width: 100%;margin: 2% 0%;">
    <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > 
            <h4>ALL ABOUT</h4>
            <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12" >
                
                <h1>THE WORLD'S BEST EDUCATION IN OUR SCHOOL</h1>
                <h4></h4>
                <p class="m20"></p>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12" style="padding:1%;box-sizing: border-box;">
                <img src="/static/mps.jpg" width="100%">
            </div>
        </div>
    </div>
</div>


<div class="container" style="padding: 0% 8%;width: 100%">
    <div class="row" >
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >

            <p class="m20"></p>

        </div>
    </div>
</div>
<!-------------------------------------schoolinfo------------------------------------->





{% endblock %}