{% extends "Base.html" %}
{% block content %}

<!-------------------------------------vision------------------------------------>

<div class="container" style="padding: 2% 8%;width: 100%;margin: 2% 0%;">
    <div class="row" >
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1"  style="background-color: #f8f8f8;padding: 0px;">
            <img src="/static/vision1.jpg" style="width:100%">
            <h3>Shaping a Bright Future for Our School</h3>
            <p class="m20">At MPS, we believe in the transformative power of education and are driven by a compelling vision that propels us forward.</p>
            <p class="m20">Together, we strive to create an environment that fosters innovation, cultivates excellence, and empowers individuals to realize their full potential. Join us as we explore the inspiring vision of our school.</p>
        </div>
    </div>
</div>
<div class="container" style="padding: 2% 8%;width: 100%;margin: 2% 0%;">
    <div class="row" >
        <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12 col-lg-offset-2 col-md-offset-1"  style="background-color: #f8f8f8;padding: 0px;">
            <img src="/static/vision1.png" style="width:100%">
            <p class="m20"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> Our vision places students at the center of everything we do. We aim to create a learning environment that is engaging, inclusive, and tailored to the unique needs and interests of each student.</p>
            <p class="m20"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> We strive to foster a culture of creativity and innovation, where students are encouraged to think critically, solve complex problems, and explore new ideas.</p>
            <p class="m20"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> We foster a collaborative learning environment where students, educators, parents, and the wider community work together as partners in education.</p>
            <p class="m20"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> Our vision is to instill a love for learning and a growth mindset in our students that extends far beyond their time at our school.</p>
            <p class="m20"><i class="fa fa-angle-right" aria-hidden="true"></i><i class="fa fa-angle-right" aria-hidden="true"></i> Our vision includes instilling in them a sense of social responsibility, empathy, and a global perspective.</p>
            <p class="m20">The vision of our school encapsulates our shared dreams and aspirations for a brighter future. Through student-centered education, innovation, collaboration, lifelong learning, and the development of impactful global citizens, we strive to shape a learning community that empowers individuals to reach their highest potential. Together, we embark on a journey of growth, discovery, and transformation, creating a better world one student at a time. Join us in bringing our inspiring vision to life and making a lasting impact on the future.</p>
        </div>
    </div>
</div>
<!-------------------------------------vision------------------------------------->





{% endblock %}